[submodule "core/puremvc-as3-util-eggs"]
	path = core/puremvc-as3-util-eggs
	url = git@github.com:Dukobpa3/puremvc-as3-util-eggs.git
[submodule "core/puremvc-as3-util-pipes"]
	path = core/puremvc-as3-util-pipes
	url = git@github.com:Dukobpa3/puremvc-as3-util-pipes.git
[submodule "core/puremvc-as3-util-loadup"]
	path = core/puremvc-as3-util-loadup
	url = git@github.com:Dukobpa3/puremvc-as3-util-loadup.git
[submodule "core/puremvc-as3-multicore-framework"]
	path = core/puremvc-as3-multicore-framework
	url = git@github.com:Dukobpa3/puremvc-as3-multicore-framework.git
[submodule "core/eggs-net-as3"]
	path = core/eggs-net-as3
	url = git@github.com:eggs-gd/eggs-net-as3.git
